@model IEnumerable<Employee>


<h1>All Employees</h1>


@if(!string.IsNullOrEmpty(TempData["Message"] as string))
{
    <div class="m-3 alert alert-info">
        <p>@TempData["Message"]</p>
    </div>
}


<form>
    <div class="container m-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <input id="SearchInput" placeholder="Search By Name" name="SearchInput" class="form-control" />
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-success" value="Search" />
            </div>
        </div>
    </div>
</form>


<br />
<br />
<a asp-action="Create" class="btn btn-primary">Create Employee</a>
<br />
<br />


@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Salary</th>
                <th>IsActive</th>
                <th>IsDeleted</th>
                <th>Hiring Date</th>
                <th>Date Of Creation</th>
                <th>Department</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td >
                        <img src="~/files/images/@item.ImageName" class="img-fluid rounded-circle " />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Age</td>
                    <td>@item.Email</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td>@item.Salary</td>
                    <td>@item.IsActive</td>
                    <td>@item.IsDeleted</td>
                    <td>@item.HiringDate</td>
                    <td>@item.CreateAt</td>
                   @if(item.Department is null)
                    {
                        <td>No Department</td>
                    }else{<td>@item.Department.Name</td>}

                    <partial name="_IndexEmployeeDepartmentPartialView" model="@item.Id" />


                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <h4 class="mt-4 alert alert-warning">
            There Are No Employee:(
        </h4>
    </div>
}